.home-columns {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    align-items: flex-start;
}

.home-column {
    flex: 1;
    min-width: 0;
}

.home-scroll {
    display: flex;
    flex-direction: column;
    corner-shape: squircle;
    gap: 0.5rem;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #9fe65a;
    border-radius: 7%;
    padding: 0.5rem;

    scrollbar-width: none;
}

.home-card {
    transition: all 0.1s ease;
    
    display: flex;
    gap: 0.75rem;
    corner-shape: squircle;
    align-items: center;
    padding: 0.5rem;
    max-height: 5rem;
    border-radius: 10rem;
    transition: all 0.1s;
    border-color: #9fe65a;
    background-color: #2b2b51;
    /* background: #F4B600;
    background: linear-gradient(186deg, rgba(244, 182, 0, 1) 24%, rgba(232, 170, 0, 1) 69%); */
}

    .home-card:hover {
        transition: all 0.1s ease;
        border-style: solid;
        border-width: 0px;
        border-color: #9fe65a;

        border-radius: 0rem;
        background: #ffc400;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
        /* background: #69C91C;
        background: radial-gradient(at center bottom, #69C91C, #38375f9f); */
    }

.LT{
    color: #9fe65a;
}
.LA{
    color: #ffffff;
    font-family: Title;
    font-size: large;
}

.home-card-thumb {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background: #eeeeee00;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .home-card-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.home-card-info {
    
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.2rem;
    min-width: 0;
    width: 100%;
}

    .home-card-info a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        
        display: block;
    }

.home-card-sub {
    display: flex;
    font-family: SubHeader;
    font-size: medium;
    color: #666;
}

.home-card-stats {
    font-family: SubHeader;
    font-size: 0.9rem;
    color: #ffffff;
}


@media (max-width: 600px) {
    .home-columns {
        display: block;
        gap: 2rem;
        margin-top: 1.5rem;
        align-items: flex-start;
    }

}